body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 1300px;
}

h1,h2{
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  
}
h1{
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

section{
    margin-top: 0;
    margin-bottom: 35px;
}
section div{
    margin-left: 20px;
    margin-top: 15px;
    
}
section div ul{
    margin: 0;
  
}
section div li{
    line-height: 25px;
}
ul.no-style, ol.no-style{
    list-style: none;
    margin: 0;
    padding: 0;
}
.final{
    margin-bottom: 85px;
    
}
.locations{
    display: grid;
    
    grid-template-columns: repeat(2, 496px);
    width: 984px;
    margin-left: 180px;
    margin-bottom: 30px;
    row-gap: 30px;
    column-gap: 95px;
}
.locations div{
    
    width: 600px;
}
.locations p{
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}
.links a{
    color: rgba(54, 192, 241, 1);
    font-size: 18px;
    text-decoration: underline;
}

.video .no-style{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 620px);
    margin-left: 20px;
}
.video li{
    width: 620px;
    height: 250px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.video li img{
    margin-top: 75px;
}
p.time{
    width: 50px;
    height: 16px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    align-items: center;
   
}
.playlist{
    margin: 0;
    padding: 0;
    text-decoration: underline;
    margin-bottom: -15px;
}
.second{
    margin-top: 30px;
}
div.time{
    margin-top: 65px;
    margin-left: 560px;
}
.video a p{
    color: black;
    
    padding: 0;
    margin: 0;
}