h2{
    margin-top: 85px;
    margin-bottom: 30px;
    font-size: 32px; 
    font-weight: bold; 
}
.main-section{
    padding-left: 75px;
    margin-top:148px;
    width: 675px;
    height: 450px;
    background-color: rgba(234, 237, 240, 1);
    border-radius: 25px;
    
    box-shadow: 0.1px 19px 20px -17px rgb(65, 64, 64);
    font-family: "Inter Regular", fantasy;
    font-size: 18px;
    line-height: 25px;
    text-align: left; 
}
button{
    margin-top: 25px;
    margin-left: 500px;
    background-color: #36C0F1;
    color: white;
    border-radius: 10px;
    border: none;
    width: 104px;
    height: 48px;
    font-weight: bold;
    font-size: 18px;
}
.main-section input{
    width: 600px;
    height: 38px;
    
    text-align: left;
    font-weight: normal;
    font-size: 18px;

    background-color: white;
    border-radius: 5px;
    border: 1px white;
}