body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    margin-top: 75px;
}

.main_registration_form {
    width: 350px;
    background-color: #EAEDF0;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-right: 20px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 155px;
}

input {
    width: 260px;
    height: 30px;
    margin-top: 5px;
    text-align: left;
    background-color: white;
    border-radius: 25px;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.Confirm input {
    text-align: center;
    margin-left: 1px;
    background-color: #FFEC44;
    color: black;
    border-radius: 25px;
    border: none;
    width: 280px;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
}

.Confirm {
    margin-top: 63px;
    margin-bottom: 70px;
}

li {
    margin-top: 5px;
}

main {
    display: flex;
    justify-content: center;
}
