body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    display: none;
}
h2 {
    font-size: 42px;
    font-weight: 400;
    margin-top: 75px;
}

.main_registration_form {
    display: flex;
    width: 240px;
    height: 600px;
    background-color: #EAEDF0;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 130px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 155px;
}

input {
    width: 260px;
    height: 30px;
    margin-top: 11px;
    text-align: left;
    background-color: white;
    border-radius: 25px;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.Confirm input {
    text-align: center;
    margin-left: 1px;
    background-color: #FFEC44;
    color: black;
    border-radius: 25px;
    border: none;
    width: 280px;
    height: 45px;
    font-weight: bold;
    font-size: 25px;
}

.Confirm {
    margin-top: px;

}

li {
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
}
