/* Доделать: ссылки:фото,логотип; глаз на ввод пароля;*/


@font-face {
	font-family: 'Inter Regular';
  src: url('/fonts/Inter-Regular.otf') format('otf');
	src: url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
  
}

.main-header{
  position: fixed;
  z-index: 10000; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #21c2f8;

  box-shadow: 0px 1px 20px 0px rgb(65, 64, 64);
}
.logotip{
  padding-left: 100px;
}
.main-footer{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: #21c2f8;
  height: auto;
}

main{
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*DONE*/
.accounts{
  position: absolute;
  top: 100px;
  left: 45px;
  width: 750px;
  height: 343px;
  background-color: rgba(234, 237, 240, 1);
  border-radius: 30px;

  box-shadow: 23px 6px 20px -17px rgb(65, 64, 64);
}
.accounts h2{
  position: absolute;
  left: 80px;
  top: 8px;
  font-size: 30px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
}
.accounts p{
  position: absolute;
  left: 80px;
  top: 60px;
  font-size: 16px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
}
.account{
  position: absolute;
  left: 80px;
  top: 120px;
  border-radius: 15px;
  background-color: rgba(140, 140, 140, 1);
  width: 148px;
  height: 180px;
}
.account div{
  padding-top: 20px;
  padding-left: 38px;
}
.account section{
  text-align: center;
  word-break:break-all;
}
.createAccount{
  position: absolute;
  left: 300px;
  top: 120px;
  border-radius: 15px;
  background-color: rgba(140, 140, 140, 1);
  width: 148px;
  height: 180px;

  box-shadow: -7px 18px 23px -14px #21c2f8;
}
.createAccount div{
  padding-top: 20px;
  padding-left: 37px;
}
.createAccount section{
  text-align: center;
}





/*DONE*/
.login{
  position: absolute;
  top: 100px;
  left: 900px;
  width: 449px;
  height: 470px;
  background-color: rgba(234, 237, 240, 1);
  border-radius: 30px;

  box-shadow: 0.1px 19px 20px -17px rgb(65, 64, 64);
}

.login section{
  text-align: center;
  padding-top: 9px;
}

.login h2{
  position: absolute;
  top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
}
.login input{
  position: absolute;
  left: 100px;
  top: 217px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 13px;
}
.emailAdress div{
  top: 280px;
  left: 72px;
  position: absolute;
  text-align: left;
  padding-left: 15px;
  padding-top: 8px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 14px;
  background-color: white;
  border-radius: 16px;
  width: 295px;
  height: 24px;
  border: 2px solid black;
}
.emailAdress p{
  position: absolute;
  top: 240px;
  left: 88px;
  text-align: left;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 14px;
}
.Password div{
  top: 345px;
  left: 72px;
  position: absolute;
  text-align: left;
  padding-left: 15px;
  padding-top: 8px;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 14px;
  background-color: white;
  border-radius: 16px;
  border: 2px solid black;
  width: 295px;
  height: 24px;
}
.Password p{
  position: absolute;
  left: 88px;
  top: 310px;
  text-align: left;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 14px;
}
.loginLink  section{
  top: 410px;
  left: 72px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  text-align: center;
  font-family: "Inter Regular", fantasy;
  font-weight: 600;
  font-size: 20px;
  background-color: yellow;
  border-radius: 16px;
  width: 310px;
  height: 24px;
}

.forgotPassword{
  position: absolute;
  top: 450px;
  left: 185px;
  color: black;
  font-family: "Inter Regular", fantasy;
  font-weight: 300;
  font-size: 11px;
}



/*DONE*/
.registration{
  position: absolute;
  top: 580px;
  left: 900px;
  width: 449px;
  height: 96px;
  background-color: rgba(234, 237, 240, 1);
  border-radius: 30px;
  text-align: center;

  box-shadow: 0.1px 19px 20px -17px rgb(65, 64, 64);
}

.registration h2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: "Inter Regular", fantasy;
}
.registration section{
  display: inline-block;
  background-color: yellow;
  border-radius: 15px;
  width: 150px;
  height: 30px;
  font-family: "Inter Regular", fantasy;
  font-weight: 800;
  font-size: 18px;
}