  {% extends 'portfolio/base2.html' %}
  {% load static %}
  
  {% block style_load %}
      <link rel="stylesheet" href="{% static 'portfolio/css/Account settings.css' %} "/>
  {% endblock %}

    {% block main %}
      <form action="" method="post" class="account-form">
        <h2>Общее</h2>

        <ol>
          {% for field in form %}
            <li class="{{ field.field.widget.attrs.class }}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="form-error">{{ field.errors }}</div>
            </li>
          {% endfor %}
          <li class="birth-date">
            <label for="birth-Date">Дата рождения</label>
            <div>
              <select id="day">
                <br />
                <option value="">1</option>
                <script>
                  let x = 0;
                  while (x < 31) {
                    x++;
                    document.getElementById("day").innerHTML +=
                      "<option>" + x + "</option>";
                  }
                </script>
              </select>
              <select id="month">
                <option value="">Мес</option>
                <option value="1">Янв</option>
                <option value="2">Февр</option>
                <option value="3">Март</option>
                <option value="4">Апр</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Авг</option>
                <option value="9">Сент</option>
                <option value="10">Окт</option>
                <option value="11">Нояб</option>
                <option value="12">Дек</option>
              </select>
              <select id="year">
                <br />
                <option value="">1970</option>
                <script>
                  let y = 1969;
                  while (y < 2024) {
                    y++;
                    document.getElementById("year").innerHTML +=
                      "<option>" + y + "</option>";
                  }
                </script>
              </select>
            </div>
          </li>
        </ol>
        <button type="submit" value="Сохранить">Сохранить</button>
      </form>
      <section class="settings-items">
        <nav>
          <ul>
            <li class="account">
              <a href="#">Аккаунт</a>
              <img src="{%static "portfolio/images/account icon.svg" %}" alt="Account icon" />
            </li>
            <li class="infromation">
              <a href="#">Информация профиля</a>
              <img src="{%static "portfolio/images/infromation icon.svg" %}" alt="Infromation icon" />
            </li>
            <li class="security">
              <a href="#">Безопасность</a>
              <img src="{%static "portfolio/images/security icon.svg" %}" alt="Security icon" />
            </li>
          </ul>
        </nav>
      </section>
      {% endblock %}
