{% extends 'portfolio/base-with-navigation.html' %}

{% block main %}
    {% block post-form %}
    {% endblock %}
    <nav>
        <ul>
            {% if post_is_created %}
                <li><a href="{% url 'edit_post' post.post_slug %}">Редактирование поста</a></li>
                <li><a href="{% url 'edit_post_tags' post.post_slug %}">Выбор тегов</a></li>
            {% else %}
                <li>Редактирование поста</li>
                <li>Выбор тегов</li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}