{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/Header&Footer.css' %} "/>
    {% block style_load %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        ol {
            list-style-type: none;
        }
    </style>
</head>
<body>

<header class="main-header">
    <div class="logotip">
        <img src="{% static 'portfolio/images/Share your projects.svg' %} " alt="Share your projects">
    </div>
</header>

<main>
{% block main %}
{% endblock %}
</main>

<footer class="main-footer">
    <div class="logotip">
        <img src="{% static 'portfolio/images/Share your projects.svg' %} " alt="Share your projects">
    </div>
</footer>
</body>
</html>