{% extends 'portfolio/base-edit-post.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/edit-post.css' %} "/>
{% endblock %}

{% block post-form %}
    <form action="" method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Информация о посте</h2>
        <ul class="massages">
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        <ol>
            {% for field in form %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
        </ol>
        <button type="submit" value="Сохранить">Сохранить</button>
    </form>
{% endblock %}