{% extends 'portfolio/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static "portfolio/css/css-for-recovery-password&email.css"%}" />
{% endblock %}

{% block main %}
<form action="" method="post" class="main-section">
    <h2>Подтверждение почты</h2>
    <p>Введите адрес Вашей электронной почты,</br> используемой для входа</p>
{% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <div class="form-error">{{ field.errors }}</div>
    {% endfor %}
    <input type="submit" value='Подтвердить' id="done"/>
</form>
{% endblock %}