{% extends 'portfolio/base/base-with-navigation.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/guides.css' %}"/>
{% endblock %}
{% block main %}
    <h1>Гайды для начинающих режиссеров</h1>
    <section class="video final">
        <h2>Мастер-классы</h2>
        <ol class="no-style">
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/n7ANAVImsMQ?si=LK9y0K-SAPfdYo1f"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Мастер-класс Юрия Быкова. "Путь режиссера: от дебютной работы к международному признанию "</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UcpNDFhatGk?si=SYJlfF31iUEVmVoP"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Режиссура монтажа. Коновалов Л.В. Кинооператор. Мастер-класс</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VKR8pl7rr-k?si=PLfNYG89rzb-b7PN"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Мастер-класс режиссёра Александра Сокурова «Открытая беседа с учениками» // ПитерКиТ (12.11.2020)</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zcwOWgU4ir4?si=ldsG2ZG71VomH2md"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Мастер-класс Алексея Учителя: Как молодому режиссеру заинтересовать продюсера</p>
            </li>
        </ol>
    </section>
    <section class="video final">
        <h2>Уроки режиссуры</h2>
        <p class="playlist">1 плейлист</p>
        <ol class="no-style">
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WX4bXANk0Cc?si=jBF11LfKl-mhv1Qx"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Андрей Тарковский. «Лекции по кинорежиссуре» Часть первая. «Сценарий».</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AbBtYbt75Ao?si=0Q1Hj-eoZOH3RrYC"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Андрей Тарковский. «Лекции по кинорежиссуре» Часть вторая. «Замысел и его реализация».</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-wDVIVYDcSg?si=SOTi_HnNXGXJE_JJ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Андрей Тарковский. «Лекции по кинорежиссуре». Часть третья. «Замысел и его реализация».</p>
            </li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qQhmuIHpiw4?si=hsZwWco-4eqx12qQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Андрей Тарковский «Лекции по кинорежиссуре» Часть четвёртая «Монтаж»</p>
            </li>
        </ol>
        <p class="playlist second">2 плейлист</p>
        <ol class="no-style">
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XUbSlHa1cGs?si=wAKvfggDUs5qQV0T"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Основы режиссуры. Юрий Муравицкий | Прямая трансляция</p>
            </li>
        </ol>
    </section>
    <section>
        <h2>Оборудование</h2>
        <div>
            Кроме камеры, в комплект такого оборудования входит большой набор дополнительных приборов, аксессуаров и
            креплений:
            <ul>
                <li>Системы управления оборудованием: фоллоу-фокусы, клетки, слайдеры, риги, автогрипы, краны, тележки,
                    рельсы, подвесы, кронштейны.
                </li>
                <li>Системы приема-передачи видео: видеосендеры, внешние мониторы, телесуфлеры, кабели, пульты
                    управления.
                </li>
                <li>Осветительное оборудование для студии или уличной съемки: световые приборы, си-стенды, полотна,
                    рамы, флаги,
                    лайт-диски, генераторы, аккумуляторы, катушки, розетки.
                </li>
                <li>Звуковое оборудование: аудиорекордер, радиосистемы, петлички, радиомикрофоны, стойки.</li>
                <li>Другое: спецэффекты, устройства питания, чехлы, ремни и прочее.</li>
            </ul>
            Самые известные бренды оборудования: RED, Blackmagic, DJI, Leica, ARRI, KinoFlo.</br>
            Для большинства проектов достаточно цифровой камеры со стандартными возможностями: внутренний стабилизатор,
            хорошее шумоподавление, съемка в низкой контрастности, которая позволяет добавить насыщенные цвета на
            монтаже.
            <p>Но когда клиент просит «дорогую» картинку, мы предлагаем съемки на кинотехнику.</p>
        </div>
    </section>
    <section>
        <h2>Как мы работаем с кинооборудованием?</h2>
        <div>
            <ol>
                <li>

                    Берем камеры и аксессуары в аренду, так как стоимость
                    оборудования начинается от одного миллиона рублей.

                </li>
                <li>
                    При необходимости берем в аренду киносвет. У него есть две отличительные особенности:
                    <ul class="no-style">
                        <li>– максимальная точность передачи освещения и цветопередачи света – грубо говоря, создания
                            баланса белого;
                        </li>
                        <li>– автономная работа на аккумуляторах V-Mount (почти у всей аппаратуры).</li>
                    </ul>
                    Работа на стандартный студийный свет тоже возможна, однако из-за особенностей совместительства
                    техники, это возможно только в арендованной студии.
                </li>
            </ol>
        </div>
    </section>
    <section>
        <h2>Список специалистов для работы с кинооборудованием</h2>
        <div>
            <ol>
                <li>Оператор-постановщик снимает на камеру, выбирает и устанавливает правильный ракурс, контролирует
                    работу со светом и камерой.
                </li>
                <li>Режиссер на площадке работает с актерами, реквизитом, стилистом, отслеживает четкое следование
                    сценарию.
                </li>
                <li>Художник-постановщик подготавливает локации к съемкам, помогает раскрыть замысел режиссера и дает
                    нужный
                    эмоциональный настрой.
                </li>
                <li>Гафер или осветитель – главный специалист по освещению, занимается выставлением и настройкой
                    осветительного
                    оборудования, отвечает за бесперебойную работу электрического освещения.
                </li>
                <li>Ассистент гафера (светик) оказывает помощь в настройке оборудования при больших объемах.</li>
                <li>Механик на площадке следит за работопригодностью кинокамеры, работает со всеми аксессуарами и
                    креплениями от нее
                </li>
                <li>Звукорежиссер работает со звукозаписывающей аппаратурой на съемочной площадке.</li>
                <li>Фокус-пуллер – первый ассистент оператора, специалист по настройке фокуса, работает с
                    фоллоу-фокусом.
                </li>
            </ol>
        </div>
    </section>
    <section>
        <h2>Локации для определенных жанров:</h2>
        <div>
            <p>Какие вообще есть локации?</p>
            <ol>
                <li>Частная собственность: Съёмки на частной территории возможны после получения разрешения от
                    владельца.
                </li>
                <li>Публичные места: В некоторых городах и странах можно снимать в общественных местах, но часто
                    требуется разрешение
                    от местных властей.
                </li>
                <li>Киностудии: Профессиональные киностудии предлагают различные декорации и условия для съёмок.</li>
                <li>Природные локации: Национальные парки, пляжи и другие природные объекты могут быть использованы для
                    съёмок, но
                    также могут потребовать специального разрешения.
                </li>
                <li>Зарубежные локации: Съёмки за границей могут добавить уникальности вашему фильму, но потребуют
                    дополнительной
                    подготовки и согласования.
                </li>
            </ol>
        </div>
        <div class="locations">
            <div>
                <p>Семейная драма:</p>
                <ul>
                    <li>Уютные жилые районы</li>
                    <li>Парки и природные зоны</li>
                    <li>Школы и образовательные учреждения</li>
                </ul>
            </div>
            <div>
                <p>Историческая драма:</p>
                <ul>
                    <li>Замки и старинные усадьбы</li>
                    <li>Исторические города и улицы</li>
                    <li>Музеи и памятники</li>
                </ul>
            </div>
            <div>
                <p>Военная драма:</p>
                <ul>
                    <li>Военные базы и полигоны</li>
                    <li>Исторические боевые поля</li>
                    <li>Заброшенные здания и бункеры</li>
                </ul>
            </div>
            <div>
                <p>Криминальная драма:</p>
                <ul>
                    <li>Тёмные переулки и задворки</li>
                    <li>Полицейские участки</li>
                    <li>Ночные клубы и бары</li>
                </ul>
            </div>
            <div>
                <p>Романтическая комедия:</p>
                <ul>
                    <li>Кафе и рестораны</li>
                    <li>Городские площади и мосты</li>
                    <li>Пляжи и курортные зоны</li>
                </ul>
            </div>
            <div>
                <p>Чёрная комедия:</p>
                <ul>
                    <li>Необычные и эксцентричные интерьеры</li>
                    <li>Кладбища и крематории</li>
                    <li>Амбары и заброшенные здания</li>
                </ul>
            </div>
            <div>
                <p>Мистика, слешер, триллер:</p>
                <ul>
                    <li>Заброшенные дома и особняки</li>
                    <li>Тёмные леса и пустоши</li>
                    <li>Закрытые медицинские учреждения</li>
                </ul>
            </div>
            <div>
                <p>Детское, образовательное, развлекательное:</p>
                <ul>
                    <li>Детские площадки и парки</li>
                    <li>Зоопарки и аквариумы</li>
                    <li>Научные центры и музеи</li>
                </ul>
            </div>
            <div>
                <p>Научная фантастика, фэнтези:</p>
                <ul>
                    <li>Современные научные лаборатории</li>
                    <li>Футуристические городские пейзажи</li>
                    <li>Волшебные леса и горные пейзажи</li>
                </ul>
            </div>
            <div>
                <p>Биографический документальный фильм:</p>
                <ul>
                    <li>Места, связанные с жизнью персонажа</li>
                    <li>Архивы и библиотеки</li>
                    <li>Интервью в студиях и на улице</li>
                </ul>
            </div>
            <div>
                <p>Природоведческий документальный фильм:</p>
                <ul>
                    <li>Национальные парки и заповедники</li>
                    <li>Разнообразные экосистемы (леса, пустыни, океаны)</li>
                    <li>Научно-исследовательские станции</li>
                </ul>
            </div>
            <div>
                <p>Исторический документальный фильм:</p>
                <ul>
                    <li>Места исторических событий</li>
                    <li>Музеи и архивы</li>
                    <li>Реконструкции исторических событий</li>
                </ul>
            </div>
        </div>

        <p>Все эти локации можно воспроизвести и в киностудии, но это потребует определенного бюджета</p>
    </section>
    <section class="links">
        <h2>Полезный материал</h2>
        <ul>
            <li><a href="https://george2236.wordpress.com/2013/11/20/cinemainstruments/">Инструменты кино</a></li>
            <li><a href="https://dzen.ru/a/YFvzBiZ4TBa4c5tw">Как снять фильм и что для этого нужно. Какое оборудование
                лучше выбрать для фотостудии.</a></li>
        </ul>
    </section>
{% endblock %}