{% extends 'portfolio/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/Password-reset.css' %} "/>
{% endblock %}

{% block main %}
    <form method="POST" class="main-section">
    {% csrf_token %}
        <h2>Восстановление пароля</h2>
        <p>Введите адрес Вашей электронной почты,</br> используемой для входа</p>
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <input type="submit" value='Подтвердить' id="done"/>
    </form>
{% endblock %}