{% extends 'portfolio/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/Password-reset.css' %} "/>
{% endblock %}

{% block main %}
    <form action="" method="post" class="main-section">
        <h2>Восстановление пароля</h2>
        <p>Введите адрес Вашей электронной почты,</br> используемой для входа</p>
        <label for="email_adress">Адрес электронной почты</label>
        <input type="text" name="email_adress" placeholder="example@gmail.com">
        <input type="submit" value='Подтвердить' id="done"/>
    </form>
{% endblock %}