{% extends "portfolio/base-with-navigation.html" %}
{% load static %}

{% block main %}
    <section>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Выйти из аккаунта</a>
        {% else %}
            <p>Пользователь не авторизирован</p>
            <a href="{% url "login" %}">Авторизация</a>
            <a href="{% url "register" %}">Регистрация</a>
        {% endif %}
    </section>

    <section>
        {{ posts }}
        {{ profile.patronymic }}
        {{ user_profile.date_of_birth }}
        {{ user.email }}
        {{ user.first_name }}
    </section>
{% endblock %}