{% extends "portfolio/base.html" %}
{% load static %}

{% block main %}
    <section>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Выйти</a>
            <a href="{% url 'edit_settings_account' %}">Аккаунт</a>
            <a href="{% url 'edit_settings_profile' %}">Профиль</a>
        {% else %}
            <p>Пользователь не авторизирован</p>
            <a href="{% url "login" %}">Авторизация</a>
            <a href="{% url "register" %}">Регистрация</a>

        {% endif %}
    </section>

    {% for social_network in social_networks %}
    <button onclick="openForm('{{ social_network.name }}')">
        <img src="{% static social_network.path %}">
    </button>
    {% endfor %}

    <button onclick="closeForm()">Закрыть форму
    </button>


    <!-- Модальное окно -->
    <div class="modal fade" id="socialModal" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="socialModalLabel">Введите ссылку на ваш профиль</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="social-form">
                        {% csrf_token %}
                        <input type="hidden" id="social-network">
                        <div class="form-group">
                            <input type="url" class="form-control" id="profile-link" placeholder="https://">
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'portfolio/js/social-form.js' %}"></script>
{% endblock %}