{% extends 'portfolio/base/base-edit-post.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/edit-post.css' %} "/>
{% endblock %}

{% block post-form %}
    <form action="" method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Информация о посте</h2>
        <div class="massages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <ol>
            {% for field in form %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
        </ol>
        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'portfolio/js/add document.js' %}"></script>
        <script src="{% static 'portfolio/js/add media.js' %}"></script>

        <button type="submit" value="Сохранить">Сохранить</button>
    </form>
    </form>
{% endblock %}





