{% extends 'portfolio/base-with-navigation.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/profile page.css' %}"/>
{% endblock %}

{% block main %}
    <section>
        <div class="profile-information">
    {% if user_profile.image %}
        <img src="" alt="Фото профиля">
    {% else %}
        <img src="{% static 'portfolio/images/profileIconNO.png' %}" alt="Фото профиля">
    {% endif %}
    <div class="main-information">
        <p class="name">{{ user.last_name }} {{ user.first_name }} {{ user_profile.patronymic }}</p>
        <ul>
            
            <li class="age">
                {% if user_profile.date_of_birth %}
                    <p>Возраст: {{ user_profile.date_of_birth }}</p>
                {% else %}
                    {% comment "Optional note" %}
                        <p>Возраст: {{ user_profile.date_of_birth }}</p>
                    {% endcomment %}
                {% endif %}
            </li>
            <li class="activity">
                {% if user_profile.scope_of_work %}
                    <p>Сфера деятельности: {{ user_profile.scope_of_work }}</p>
                {% else %}
                    {% comment "Optional note" %}
                        <p>Сфера деятельности: {{ user_profile.scope_of_work }}</p>
                    {% endcomment %}
                {% endif %} 
            </li>
            <li class="city">
                {% if user_profile.city %}
                    <p>Город: {{ user_profile.city }}</p>
                {% else %}
                    {% comment "Optional note" %}
                        <p>Город: {{ user_profile.city }}</p>
                    {% endcomment %}
                {% endif %} 
            </li>
            <li class="telephone">
                {% if user_profile.phone_number %}
                    <p>Телефон: {{ user_profile.phone_number }}</p>
                {% else %}
                    {% comment "Optional note" %}
                        <p>Телефон: {{ user_profile.phone_number }}</p>
                    {% endcomment %}
                {% endif %}  
            </li>
            <li class="email">
                {% if user_profile.email %}
                    <p>Электронная почта: {{ user.email }}</p>
                {% else %}
                    {% comment "Optional note" %}
                        <p>Электронная почта: {{ user.email }}</p>
                    {% endcomment %}
                {% endif %} 
            </li>
            <div class="tags">
                {% for tag in user_profile.tags %}
                    <p>{{ tag }}</p>
                {% endfor %}
            </div>
        </ul>
    </div>

    <div class="about-me">
        <p class="about">О себе</p>
        <p>{{ user_profile.text }}</p>
    </div>
    <div class="social-networks">
        {% for social_network in user.social_networks.all %}
            <a href="{{ social_network.link }}"><img src="{% static social_network.get_image_url %}"></a>
        {% endfor %}
    </div>
    </div>

    <div class="create-post">
        
            <a href="{% url 'create_post' %}">
                <img src="{% static 'portfolio/images/create post.svg' %}" width="35" height="35" alt="Создать пост(картинка)">
                <p>Создать пост</p>
                <img src="{% static 'portfolio/images/post-arrow-right.svg' %}" width="14" height="20" alt="Редактировать и создать пост">
            </a>
       
    </div>
    </section>

    <section class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="photo">
                    {% if user_profile.image %}
                        <img src="" alt="Фото профиля">
                    {% else %}
                        <img src="{% static 'portfolio/images/profileIconNO.png' %}" alt="Фото профиля">
                    {% endif %}
                </div>
                <div class="post-information">
                    <p class="post-name">{{ post.title }}</p>
                    <p class="post-type">Рекламный пост</p>
                    <div class="tags">
                        {% for tag in post.tags %}
                            <p>{{ tag }}</p>
                        {% endfor %}
                    </div>
                    <p>{{ post.text }}</p>
                    <div class="post-image">
                        <a href="#">
                            <img src="{% static 'portfolio/images/post-arrow-left.svg' %}" width="10" height="14"
                                 alt="Редактировать и создать пост">
                        </a>
                        <img src="{% static 'portfolio/images/post-example.jpg' %}">

                        <a href="#">
                            <img src="{% static 'portfolio/images/post-arrow-right.svg' %}" width="10" height="14"
                                 alt="Редактировать и создать пост">
                        </a>
                    </div>
                    <p class="date">{{ post.date }}</p>
                    <p>Жанр:</p>
                    <p>Бюджет:</p>
                    <div class="script">
                        <img src="{% static 'portfolio/images/file.png' %}" alt="Файл сценария">
                        <p>Название сценария</p>
                        <a href="#">
                            <img src="{% static 'portfolio/images/post-arrow-right.svg' %}" width="14" height="20"
                                 alt="Редактировать и создать пост">
                        </a>
                    </div>
                    <div class="grade">
                        <p>31</p>
                        <button type="button">
                            <img src="{% static 'portfolio/images/hurtRED.png' %}">
                        </button>
                    </div>
                </div>
                <div class="icons">

                    <button type="button" class="favourites">
                        <img src="{% static 'portfolio/images/three dorts.png' %}" alt="Настройки">
                    </button>

                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}