{% extends 'portfolio/base/base-with-navigation.html' %}
{% load static %}
{% load portfolio_tags %}

{% static 'portfolio/images/hurtRED.png' as red_heart %}
{% static 'portfolio/images/hurtEMPTY.png' as empty_heart %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/profile page.css' %}"/>
{% endblock %}

{% block main %}
    <section>
        <div class="profile-information">
            {% if user_profile.image %}
                <img class="image" src="{{ user_profile.image.url }}" alt="Фото профиля">
            {% else %}
                <img class="image" src="{% static 'portfolio/images/profileNO.png' %}" alt="Фото профиля">
            {% endif %}
            <div class="main-information">
                <p class="name">{{ user_profile }}</p>
                <ul>
                    <li class="age">
                        {% if user_profile.date_of_birth %}
                            <p>Возраст: {{ user_profile.get_user_age }}</p>
                        {% endif %}
                    </li>
                    <li class="activity">
                        {% if user_profile.scope_of_work %}
                            <p>Сфера деятельности: {{ user_profile.scope_of_work }}</p>
                        {% endif %}
                    </li>
                    <li class="city">
                        {% if user_profile.city %}
                            <p>Город: {{ user_profile.city }}</p>
                        {% endif %}
                    </li>
                    <li class="telephone">
                        {% if user_profile.phone_number %}
                            <p>Телефон: {{ user_profile.phone_number }}</p>
                        {% endif %}
                    </li>
                    <li class="email">
                        {% if user_profile.email %}
                            <p>Электронная почта: {{ user.email }}</p>
                        {% endif %}
                    </li>
                </ul>
                <div class="tags">
                    {% for tag in user_profile.tags %}
                        <p>{{ tag }}</p>
                    {% endfor %}
                </div>

                {% if user_profile.text %}
                    <div class="about-me">
                        <p class="about">О себе</p>
                        <p>{{ user_profile.text }}</p>
                    </div>
                {% endif %}

                {% if user.social_networks.all|length > 0 %}
                    <div class="social-networks">
                        {% for social_network in user.social_networks.all %}
                            <a href="{{ social_network.link }}" target="_blank">
                                <img src="{% static social_network.get_image_url %}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="create-post">
            <a href="{% url 'create_post' user_profile.nickname %}">
                <img id="create-post" src="{% static 'portfolio/images/create post.svg' %}"
                     alt="Создать пост(картинка)">
                <p>Создать пост</p>
                <img id="arrow-right" src="{% static 'portfolio/images/post-arrow-right.svg' %}"
                     alt="Редактировать и создать пост">
            </a>
        </div>
    </section>

    <section class="posts">
        {% for post in posts %}
            {% include 'portfolio/base/post.html' %}
        {% endfor %}
    </section>
    {% include 'portfolio/base/video-player.html' %}
    <script src="{% static 'portfolio/js/carusel.js' %}"></script>
{% endblock %}