{% extends 'portfolio/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/Registration and login.css' %} "/>
{% endblock %}

{% block main %}
    <form action="" method="post" class="account_form">
        <h2>У вас есть еще один аккаунт?</h2>
        <p id="text">Нажмите на фотографию или имя, чтобы войти</p>
        <div class="account">
            <img src="{% static 'portfolio/images/profile icon.svg' %}" alt="Фотография аккаунта">
            <p><a href="#" style="text-decoration: none; color:white;">Фамилия <br/>Имя</a></p>
        </div>
        <div class="create_account">
            <img src="{% static 'portfolio/images/circleAccount.svg' %}" alt="Добавить аккаунт">
            <p><a href="#" style="text-decoration: none; color:white;">Добавить <br/>аккаунт</a></p>
        </div>
    </form>

    <form action="" method="post" class="login_form">
        <img src="{% static 'portfolio/images/log.svg' %}" alt="Логотип сайта SYP">
        <h2>Добро пожаловать в SYP</h2>
        <p id="text">Создавайте проекты и делитесь ими</p>
        <ol>
            {% for field in form_login %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
            <li class="loginLink">
                <input type="submit" value='Войти'/>
            </li>
        </ol>
        <p class="forgotPassword">
            <a href="{% url "email_recovery" %}" style="color:black;">Забыли пароль?</a>
        </p>
    </form>

    <form action="" method="post" class="registration_form">
        <h2>У вас еще нет аккаунта?</h2>
        <a href="{% url "register" %}">Создать</a>
    </form>

{% endblock %}