{% extends 'portfolio/base/base-search.html' %}
{% load static %}

{% block style_load %}
    {#  Временная заглушка  #}
    <link rel="stylesheet" href="{% static 'portfolio/css/profile page.css' %}"/>
    <link rel="stylesheet" href="{% static 'portfolio/css/search-post.css' %}"/>
{% endblock %}

{% block search %}
    <ul class="posts">
        {% for post in object_list %}
            <li>
                {% include 'portfolio/base/post.html' %}
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'portfolio/js/carusel.js' %}"></script>
{% endblock %}