{% extends 'portfolio/base-with-navigation.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/settings-account.css' %} "/>
{% endblock %}

{% block main %}
    <form action="" method="post" class="account-form">
        {% csrf_token %}
        <h2>Общее</h2>
        <ol>
            {% for field in form %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
        </ol>
        <button type="submit" value="Сохранить">Сохранить</button>
    </form>
    <section class="settings-items">
        <nav>
            <ul>
                <li class="account">
                    <a href="#">Аккаунт</a>
                    <img src="{% static "portfolio/images/account icon.svg" %}" alt="Account icon"/>
                </li>
                <li class="infromation">
                    <a href="{% url 'edit_settings_profile' %}">Информация профиля</a>
                    <img src="{% static "portfolio/images/infromation icon.svg" %}" alt="Infromation icon"/>
                </li>
                <li class="security">
                    <a href="#">Безопасность</a>
                    <img src="{% static "portfolio/images/security icon.svg" %}" alt="Security icon"/>
                </li>
            </ul>
        </nav>
    </section>
{% endblock %}
