{% extends 'portfolio/base-settings.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/settings-information.css' %} "/>
{% endblock %}

{% block settings %}
    <form action="" method="post" class="account-form" id="edit-profile-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ol>
            <li>
                <div>
                    <label for="{{ form_photo.id_for_label }}">{{ form_photo.label }}</label>
                    {% if user_profile.image %}
                        <img src="{{ user_profile.image.url }}" alt="Фото профиля">
                    {% else %}
                        <img src="{% static 'portfolio/images/profileIconNO.jpg' %}" alt="Фото профиля">
                    {% endif %}
                    <div>
{# Поправить оформление можно в templates/portfolio/widgets/custom_image_widget, но наверное лучше тут #}
                        {{ form_photo }}
                    </div>
                    <div class="form-error">{{ form_photo.errors }}</div>
                </div>
            </li>
            <li class="{{ form_description.field.widget.attrs.class }}">
                <label for="{{ form_description.id_for_label }}">{{ form_description.label }}</label>
                {{ form_description }}
                <div class="form-error">{{ form_description.errors }}</div>
            </li>

            <li class="contacts">
                <label for="contacts">Контакты</label>
                <ol class="contacts-list">
                    {% for field in form_contacts %}
                        <li class="{{ field.field.widget.attrs.class }}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="form-error">{{ field.errors }}</div>
                        </li>
                    {% endfor %}
                    <li class="social-networks">
                        <label for="social-networks">Социальные сети</label>
                        <div>
                            {% for social_network, path in social_networks.items %}
                                <button type="button" class='demoModalStart'
                                        onclick="openForm('{{ social_network }}')">
                                    <img src="{% static path %}" alt="{{ social_network }}">
                                </button>
                            {% endfor %}
                        </div>
                    </li>
                </ol>
            </li>
            {% for field in form_scope_of_work %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
        </ol>
        <button type="submit" value="Сохранить" class="save">Сохранить</button>
    </form>

    <div id="socialModal">
        <form id="add_social-network-form" method="post">
            {% csrf_token %}
            <button type="button" id="close" onclick="closeForm()">
                <span aria-hidden="true">&times; </span>
            </button>
            {{ form_add_social_network.as_div }}

            <button type="submit">Сохранить</button>
        </form>
    </div>

    <script src="{% static 'portfolio/js/social-form.js' %}"></script>
    <script>
        let social_networks_dict = {};
        {% for social_network in user_social_networks %}
            social_networks_dict["{{ social_network.type }}"] = "{{ social_network.link }}";
        {% endfor %}

    </script>

{% endblock %}