{% extends 'portfolio/base-with-navigation.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/settings-information.css' %} "/>
{% endblock %}

{% block main %}
        <form action="" method="post" class="account-form">
          {% csrf_token %}
          <ol>

            {% for field in form_photo_and_description %}
            <li class="{{ field.field.widget.attrs.class }}">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
            </li>
            {% endfor %}

            

            {% for field in form_scope_of_work%}
            <li class="{{ field.field.widget.attrs.class }}">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
            </li>
            {% endfor %}
            <li class="contacts">
              
                <label for="contacts">Контакты</label>
                <ol class="contacts-list">
                  {% for field in form_contacts %}
                  <li class="{{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{ field }}
                          <div class="form-error">{{ field.errors }}</div>
                  </li>
                  {% endfor %}
                    
                    <li class="social-networks">
                        <label for="social-networks">Социальные сети</label>
                        <div>
                            {% for social_network in social_networks %}
                                <li>
                                    <button type="button" onclick="openForm('{{ social_network.name }}')">
                                        <img src="{% static social_network.path %}">
                                    </button>
                                </li>
                            {% endfor %}
                        </div>
                    </li>
                </ol>
            </li>

        </ol>
        <button type="submit" value="Сохранить">Сохранить</button>
    </form>
    <section class="settings-items">
        <nav>
            <ul>
                <li class="account">
                    <a href="#">Аккаунт</a>
                    <img src="images/account icon.svg" alt="Account icon"/>
                </li>
                <li class="information">
                    <a href="#">Информация профиля</a>
                    <img src="images/infromation icon.svg" alt="Infromation icon"/>
                </li>
                <li class="security">
                    <a href="#">Безопасность</a>
                    <img src="images/security icon.svg" alt="Security icon"/>
                </li>
            </ul>
        </nav>
    </section>

    <div id="socialModal">
        <div>
            <button type="button" onclick="closeForm()">
                <span aria-hidden="true">&times; - закрыть форму</span>
            </button>
        </div>
        <form id="add_social-network-form">
            {% csrf_token %}
            {{ form_add_social_network.as_div }}
            <button type="submit">Сохранить</button>
        </form>
    </div>

    <script src="{% static 'portfolio/js/social-form.js' %}"></script>
{% endblock %}