{% extends 'portfolio/base-settings.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/settings-security.css' %}"/>
{% endblock %}

{% block settings %}
    <form action="" method="post" class="account-form">
        {% csrf_token %}
        <h2>Общее</h2>
        <p>При смене адреса электронной почты, на нее будет отправлена </br> ссылка для подтверждения регистрации</p>
        <ol>
            {% for field in form_email %}
                <li>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
            {% for field in form_password %}
                <li>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
            {% endfor %}
        </ol>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit" value="Сохранить">Сохранить</button>
    </form>
{% endblock %}