{% extends 'portfolio/base-edit-post.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/edit-tags.css' %} "/>
{% endblock %}

{% block post-form %}
        <form action="" method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Теги</h2>
            <div class="massages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            <ol>
                {% for field in form %}
                <li class="{{ field.field.widget.attrs.class }}">
                    <p for="{{ field.id_for_label }}">{{ field.label }}</p>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </li>
                {% endfor %}
            </ol>
            <!--<ol>
              <li class="rhythm">
                <label for="rhythm">Ритм</label>
                <input type="text" name="title" placeholder="Введите заголовок поста" />
              </li>
              <li class="music">
                <label for="music">Жанр музыки</label>
                <input type="text" name="title" placeholder="Введите заголовок поста" />
              </li>
              <li class="project">
                <label for="rhythm">Жанр проекта</label>
                <input type="text" name="title" placeholder="Введите заголовок поста" />
              </li>
              <li class="style">
                <label for="rhythm">Стиль</label>
                <input type="text" name="title" placeholder="Введите заголовок поста" />
              </li>
              <li class="age">
                <label for="age">Возрастное ограничение</label>
                    <select id="age">
                        <option value="">Выберите возрастное ограничение</option>
                        <option value="1">тип</option>
                        <option value="2">тип</option>
                        <option value="3">тип</option>
                        <option value="4">тип</option>
                        <option value="5">тип</option>
                        <option value="6">тип</option>
                        <option value="7">тип</option>
                        <option value="8">тип</option>
                    </select>
              </li>
            </ol>
        -->
            <button type="submit" value="Сохранить">Сохранить</button>
        </form>
{% endblock %}