@font-face {
	font-family: 'Inter Regular';
  src: url('/fonts/Inter-Regular.otf') format('otf');
	src: url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
  
}

.main-header{
    position: fixed;
    z-index: 10000; 
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #21c2f8;
  
    box-shadow: 0px 1px 20px 0px rgb(65, 64, 64);
}

.logotip{
    padding-left: 100px;
}
.main-footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #21c2f8;
    height: auto;
}

main{
    display: flex;
    justify-content: center; 
}
.Code-for-email{
    position: absolute;
    top: 140px;
    width: 670px;
    height: 380px;
    background-color: rgba(234, 237, 240, 1);
    border-radius: 30px;
    
    box-shadow: 0.1px 19px 20px -17px rgb(65, 64, 64);
    font-family: "Inter Regular", fantasy;
    font-size: 16px;
    text-align: left;
    padding-left: 80px;
    padding-top: 70px
}
h2{
    font-size: 28px;  
}
.Code-for-email div{
    text-align: left;
    padding-left: 7px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    background-color: white;
    width: 573px;
    height: 26px;
    border-radius: 6px;
}
a{
    position: absolute;
    top: 350px;
    font-size: 14px;
}
button{
    position: absolute;
    top: 340px;
    left: 559px;
    display: inline-block;
    background-color: #36C0F1;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 40px;
    font-family: "Inter Regular", fantasy;
    font-weight: 600;
    font-size: 16px;
}