{% extends 'portfolio/base/base-settings.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/account-tags.css' %} "/>
{% endblock %}

{% block settings %}
    <form method="post" class="account-form" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Теги</h2>
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {{ form.as_p }}
    
    <button type="submit" value="Сохранить" class="save">Сохранить</button>
    </form>
{% endblock %}
