body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(140, 140, 140, 1);
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  h1 {
    display: none;
  }

  .post-form {
    width: 880px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(234, 237, 240, 1);
  
    padding-left: 65px;
    padding-right: 55px;
  
    text-align: left;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(140, 140, 140, 1);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.post-form li{
    margin-top: 15px;
    border-bottom: 1px solid rgba(140, 140, 140, 1);
    display: grid;
}
li.age_limits{
  border-bottom:none;
}
.post-form p{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 18px;
}
.post-form select{
    width: 270px;
    height: 35px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
    padding-left: 10px;
    font-size: 14px;
    color: rgba(140, 140, 140, 1);
    border: none;
}

.rhythm input[type=radio] {
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding-left: 9px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
input[type='radio'] {
    accent-color: #3a9daf;
}
.rhythm label{
	cursor: pointer;
	user-select: none;
    font-size: 14px;
    position: relative;
    text-align: center;
    
}

li.rhythm{
    padding-bottom: 15px;
}
.rhythm p{
    margin-bottom: 9px;
}
.post-form button{
    text-align: center;
    background-color: rgba(54, 192, 241, 1);
    color: white;
    border-radius: 10px;
    border: none;
    width: 185px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    
    margin-top: 55px;
    margin-bottom: 40px;
    
    margin-left: 655px;    
}


.settings-items {
width: 465px;
height: 99px;
margin-left: 30px;
margin-right: 35px;
margin-top: 60px;

border-radius: 10px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
background-color: rgba(234, 237, 240, 1);

padding: 5px 5px 1px 5px;
text-align: left;
font-size: 18px;
}

.settings-items li {
display: flex;
width: auto;
height: 24px;
border-radius: 10px;
padding: 10px;
}

.settings-items a {
justify-content: start;
text-decoration: none;
color: rgba(0, 0, 0, 1);
}

li.tags {
    background-color: rgba(0, 0, 0, 0.25);
}
    
