{% extends 'portfolio/base/base.html' %}
{% load static %}

{% block site-navigation %}
    {% if request.user.is_authenticated %}
        <div class="profile-settings">
            <a href="{% url 'search_user' %}" class="icon-search">
                <img src="{% static 'portfolio/images/search-icon.svg' %}" alt="Иконка поиска"/>
            </a>
            <a href="{{ request.user.profile.get_absolute_url }}" class="profile-icon">
                <img src="{% static 'portfolio/images/profile icon.svg' %} " alt="Иконка профиля"/>
            </a>
            <a href="{% url "edit_settings_account" request.user.profile.nickname %}" class="settings-icon">
                <img src="{% static 'portfolio/images/settings icon.png' %} " alt="Иконка настроек"/>
            </a>
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    {% endif %}
{% endblock %}