{% extends 'portfolio/base/base-with-navigation.html' %}
{% load static %}

{% block main %}

    {% block settings %}
    {% endblock %}

    <section class="settings-items">
        <nav>
            {% with user_profile.nickname as nickname %}
            <ul>
                <li class="account">
                    <a href="{% url 'edit_settings_account' nickname %}">Аккаунт</a>
                    <img src="{% static "portfolio/images/account icon.svg" %}" alt="Account icon"/>
                </li>
                <li class="infromation">
                    <a href="{% url 'edit_settings_profile' nickname %}">Информация профиля</a>
                    <img src="{% static "portfolio/images/infromation icon.svg" %}" alt="Infromation icon"/>
                </li>
                <li class="security">
                    <a href="{% url 'edit_settings_security' nickname %}">Безопасность</a>
                    <img src="{% static "portfolio/images/security icon.svg" %}" alt="Security icon"/>
                </li>
                <li class="tags">
                    <a href="{% url 'edit_settings_tags' nickname %}">Теги пользователя</a>
                    <img src="{% static "portfolio/images/tag.svg" %}" alt="Tag icon"/>
                </li>
            </ul>
                {% endwith %}
        </nav>
    </section>
{% endblock %}
