{% extends 'portfolio/base/base-with-navigation.html' %}
{% load static %}
{% block style_load %}
    <link rel="stylesheet"
          href="https://snipp.ru/cdn/bootstrap/4.3/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/css/checkselect.css' %}" />
    {% block search_style_load %}
    {% endblock search_style_load %}
{% endblock %}
{% block main %}
    <form>
        {{ form }}
        <button type="submit">Поиск</button>
    </form>
    {% block search %}{% endblock %}
    <div>
        <a href="{% url 'search_user' %}">Поиск пользователей</a>
        <a href="{% url 'search_post' %}">Поиск постов</a>
    </div>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'portfolio/js/checkselect.js' %}"></script>
{% endblock %}
