{% load static %}
{% load portfolio_tags %}

<div class="post">
    <div class="photo">
        {% if user_profile.image %}
            <img src="{{ post.author.profile.image.url }}" alt="Фото профиля">
        {% else %}
            <img src="{% static 'portfolio/images/profileNO.png' %}" alt="Фото профиля">
        {% endif %}
    </div>
    <div class="post-information">
        {% if post.title %}
            <p class="post-name">{{ post.title }}</p>
        {% endif %}
        {% if post.post_type %}
            <p class="post-type">{{ post.post_type }}</p>
        {% endif %}
        <div class="tags">
            {% for tag in post.get_tags %}
                <p>{{ tag }}</p>
            {% endfor %}
        </div>
        {% with post.photos.all as photos %}
            {% with post.videos.all as videos %}
                {% if photos or videos %}
                    <section class="post-image">
                        <button class="slide-arrow slide-arrow-prev" id="slide-arrow-prev">
                            &#8249;
                        </button>
                        <button class="slide-arrow slide-arrow-next" id="slide-arrow-next">
                            &#8250;
                        </button>
                        <ul class="slides-container" id="slides-container"> 
                            {% for photo in photos %}
                                <li class="slide">
                                    <div id="img-viewer">
                                        <img class="modal-content close" id="full-image" onclick="close_model()">
                                    </div>
                                    <img class="user-image img-source expand-icon" src="{{ photo.file.url }}"
                                         onclick="full_view(this);">
                                </li>
                            
                            {% endfor %}

                            {% for video in videos %}
                                <li class="slide video-slide ">
                                    <div>
                                        
                                        <img class="user-image img-source expand-icon" src="{{ video.preview.url }}">
                                        <img class="playTriangle" src={% static 'portfolio/images/triangleBlue.png' %} onclick="playVideo('{{ video.pk }}')">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        
                    </section>
                    
                {% endif %}
            {% endwith %}
        {% endwith %}

        {#        {% if post.text %}#}
        {#            <p class="post-description">{{ post.text }}</p>#}
        {#        {% endif %}#}
        {#        {% if post.date %}#}
        {#            <p class="date">{{ post.date }}</p>#}
        {#        {% endif %}#}
        {#        {% if post.genre %}#}
        {#            <p>Жанр: {{ post.get_genre_display }}</p>#}
        {#        {% endif %}#}
        {#        {% if post.style %}#}
        {#            <p>Стиль: {{ post.style }}</p>#}
        {#        {% endif %}#}
        {#        {% if post.budget %}#}
        {#            <p>Бюджет: {{ post.budget }}</p>#}
        {#        {% endif %}#}
        {#        {% if post.age_limit %}#}
        {#            <p>Возрастные ограничения: {{ post.age_limit }}</p>#}
        {#        {% endif %}#}
        {% if post.files %}
            <div class="script">
                {% for user_file in post.files.all %}
                    <a href="{{ user_file.file.url }}" download="{{ user_file }}">
                        <img src="{% static 'portfolio/images/file.png' %}" alt="{{ user_file.file.name }}">
                        <p>{{ user_file }}</p>
                        <img class="right" src="{% static 'portfolio/images/post-arrow-right.svg' %}" width="14"
                             height="20"
                             alt="Стрелка вправо">
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if post.author == request.user %}
        <div class="icons">
            <button type="button" class="favourites">
                <img src="{% static 'portfolio/images/three dorts.png' %}" alt="Настройки">
            </button>
            <div class="post-menu">
                <ul>
                    <li class="edit"><a href="{% url 'edit_post' post.post_slug %}">Редактировать пост</a></li>
                    <li class="edit"><a href="{% url 'delete_post' post.pk %}">Удалить пост</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="like">
        <p>{{ post.get_count_likes }}</p>
        {% if request.user.is_authenticated and request.user != post.author %}
            {% is_liked post request.user as liked %}
            {% if liked %}
                <a href="{% url 'dislike_post' post.pk %}">
                    <img src="{% static 'portfolio/images/hurtRED.png' %}" alt="Красное сердечко">
                </a>
            {% else %}
                <a href="{% url 'like_post' post.pk %}">
                    <img src="{% static 'portfolio/images/hurtEMPTY.png' %}" alt="Пустое сердечко">
                </a>
            {% endif %}
        {% else %}
            <a href="#">
                <img src="{% static 'portfolio/images/hurtRED.png' %}" alt="Сердечко">
            </a>
        {% endif %}
    </div>
</div>