{% extends 'portfolio/base/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static 'portfolio/css/authorization.css' %} "/>
{% endblock %}

{% block main %}
      <form action="" method="post" class="login-form">
      {% csrf_token %}
        <img src="{% static 'portfolio/images/log.svg' %}" alt="Логотип сайта SYP">
        <h2>Добро пожаловать в SYP</h2>
        <p id="text">Создавайте проекты и делитесь ими</p>
        <ol>
            {% for field in form %}
            <li class="{{ field.field.widget.attrs.class }}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="form-error">{{ field.errors }}</div>
            </li>
            {% endfor %}
        
            <li class="loginLink">
                <input type="submit" value='Войти'/>
            </li>
        </ol>
        <p class="forgotPassword">
            <a href="{% url "enter_email" %}" style="color:black;">Забыли пароль?</a>
        </p> 
      </form>

      <form action="" method="post" class="registration-form">
        <h2>У вас еще нет аккаунта?</h2>
        <div><a href="{% url "register" %}">Создать</a></div>
    </form>

{% endblock %}