{% extends 'portfolio/base/base.html' %}
{% load static %}

{% block style_load %}
    <link rel="stylesheet" href="{% static "portfolio/css/reset-password.css" %} "/>
{% endblock %}

{% block main %}
    <form action="" method="post" class="main-section">
    {% csrf_token %}
        <h2>Сброс пароля</h2>
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <input type="submit" value='Готово' id="done"/>
    </form>
{% endblock %}